/********Header************/
header {
    position: fixed;
    margin: 0px 0px 85px -10px;
    display: flex;
    justify-content: space-between;
    background-color: whitesmoke;
    box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.401);
    height: 100px;
    width: 3000px;
    z-index: 1000;
    top: 0px;
}

header .main-nav{
    display: flex;
    justify-content: space-between ;
    padding: 5px;
    margin: 5px;
    gap: 1100px;

}

header .leftside-nav{
    display: flex;
    padding: 5px;
    margin: 15px;
    justify-content: space-between;
    gap: 25px;

}

header .rightside-nav{
    display: flex;
    padding: 5px;
    margin: 15px;
    justify-content: space-between;
    gap: 10px;
}

header svg:hover{
    cursor: pointer;
}
/******** Welcome section ********/
section h2{
    padding-top: 50px;
    margin: 25px;
    
}

body section{
    background-color: whitesmoke;
}

section {
    margin: 150px 25px 25px 25px;
    border: 1px solid black;
    border-radius: 15px;
    height: auto;
    position: left;
    display:block
    
}


/********Table************/

table {
    height: fit-content;
    border-collapse: collapse;/* Ensures borders don't double up */
    border: 1px solid black; 
    background-color: whitesmoke;
}

th, td {
    border-left: 1px solid black; /* Adds borders around cells */
    border-right: 1px solid black;/* Adds borders around cells */
    text-align: center; /* Centers text in each cell */
    padding: 8px; /* Adds padding for better readability */
    width: 100px ;
    padding: 8px 30px;
    color: black;
}

th{
    border:1px solid black;
}

tbody tr th{
    height: 150px;
}

/* th {
    background-color: #f2f2f2; /* Adds a light background color to header cells */
/* }      */ 

main{
    display:flex;
    justify-content: right;
    border: 1px solid black;
    border-radius: 25px;
    margin: 15px 50px;
    padding: 25px;
    position: absolute;
    text-align: center;
    z-index: -1;
}


/* Body */
body{
    background-color: beige;
    font-family: Arial, sans-serif;
    /* margin: 0; */
    /* padding: 0; */
    box-sizing: border-box;


}


/* Mode */
.body-dark{
    background-color: rgb(84, 82, 82);
    color: rgb(215, 200, 200);
}
